name: digi_class_booking
description: DigiWorld Phuket App
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ">=3.0.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.2

flutter:
  uses-material-design: true

  assets:
    - assets/images/logo.png

